.audio-visualizer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%; /* Diminuindo a largura do visualizador */
  height: 30px; /* Diminuindo a altura do visualizador */
  /* background-color: #f0f0f0; */
  /* border-radius: 10px; */
  overflow: hidden;
}

.audio-visualizer span {
  width: 3px; /* Ajustando a largura das barras */
  margin: 0 1.5px; /* Ajustando o espaçamento entre as barras */
  height: 5px; /* Altura base das barras */
  background-color: #ccc; /* Default color */
  animation: visualizer 0.3s infinite alternate;
}

@keyframes visualizer {
  0% {
    transform: scaleY(0.7); /* Ajustando a escala inicial */
    background-color: var(--color);
  }

  100% {
    transform: scaleY(1.4); /* Ajustando a escala final */
    background-color: var(--color);
  }
}
